*.user
*.suo

.idea/
!/.idea/.idea.SmartCAT/.idea/indexLayout.xml

[Bb]in/
[Dd]ebug/
[Rr]elease/
obj/
TestResults
*.log
*.VisualState.xml
TestResult.xml
/Data
/dist
/Published
/BackendTests
*.playlist
*.tss
*.generated.less
/[Pp]ackages/
_ReSharper*/
/node_modules
/frontend/*/server
/frontend/**/fonts/iconfont
etc/SmartCat.Common.Dev.xml
etc/SmartCat.ModuleHosting.Dev.xml
etc/SmartCat.Web.Dev.xml
.vs/
.vscode/
paket.local
TaskProcessing/NLog.local.config
/tsconfig.*.json
/frontend-build
/frontend-editor-build
.paket/Paket.Restore.targets
paket-files/
/PubTools/Deploy/utils/MongoDB
/WebApplication/Web/run-ssr-server.js
/WebApplication/Web/vue-ssr-client-manifest.json
/WebApplication/Web/vue-ssr-server-bundle.json
/Docker/vuessr/image_content
/.cache/
/ApiTests/TestingFiles/tmp
/ApiTests/appsettings.local.json
